@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700&display=swap");
@import url("./Animation.css");
@tailwind utilities;
@tailwind base;
@tailwind components;

:root{
  --title-bar-height: 6vh;
  --body-height: 94vh;
  --primary-color: "#FD4760";
}

.logo-font {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .nav-item {
    @apply py-2 px-5 box-border dark:hover:bg-slate-500 hover:bg-slate-200 rounded cursor-pointer my-1;
  }

  .nav-item-title {
    @apply text-base font-semibold;
  }

  .nav-link {
    @apply flex items-center gap-3;
  }

  .btn {
    @apply px-5 py-2 rounded font-semibold flex-center gap-2 border-[1px] border-transparent text-sm shadow bg-white dark:bg-secondary-bg-dark hover:bg-primary;
  }

  .bg-color {
    @apply bg-secondary-bg-light dark:bg-secondary-bg-dark;
  }

  .border-color {
    @apply border dark:border-gray-700;
  }

  .input-container input, .input{
    @apply text-sm bg-white dark:bg-secondary-bg-dark focus:outline-none px-2 py-1 border-b-[1.5px] border-b-black dark:border-b-gray-400 focus:border-b-sky-500 border rounded
  }

  .input-container{
    @apply flex flex-col gap-1 my-3 text-sm
  }

  .overlay{
    @apply h-[var(--body-height)] w-screen bg-[rgba(0,0,0,0.8)] fixed top-[var(--title-bar-height)] left-0 max-sm:items-end z-10 
  }

  .overlay-form{
    @apply bg-secondary-bg-light dark:bg-primary-bg-dark py-5 px-10 w-[400px] max-sm:min-w-[350px] max-sm:w-screen h-full overflow-auto
  }

  .tag-task-item{
    @apply flex items-center font-semibold gap-2 p-2 px-5 my-2 text-sm cursor-pointer hover:bg-gray-200 hover:dark:bg-secondary-bg-dark rounded
  }

  .hide-on-small{
    @apply max-sm:hidden
  }

  .drop-down{
    @apply absolute text-sm w-full min-w-[200px] z-10 bg-primary-bg-light dark:bg-primary-bg-dark p-2 rounded border shadow-lg drop-down-animation top-8 max-h-[500px] overflow-y-auto
  }

  .drop-down-element {
    @apply flex items-center gap-2 p-2 cursor-pointer border-b border-gray-200 hover:bg-slate-200 transition rounded
  }

  .background{
    @apply bg-secondary-bg-light dark:bg-primary-bg-dark
  }

}
